body {
    text-align:center;
    font-family:Arial;
    background-color:#f4f4f4;
}

canvas {
    border:3px solid black;
    cursor:crosshair;
    background-color:black;
}

button{
    padding:10px 20px;
    margin:5px;
    font-size:16px;
}

#featureMaps div{
    margin-bottom:15px;
}
